.alerts-area {
    margin-top: 80px !important; 
    opacity: 80%;
}

.main {
    margin-top: 80px !important; 
}

.footer, .navbar {
    height: 75px;
}

.background-preview {
    border: 3px dashed grey;
    flex-grow: 1;
}