{% extends 'base.html' %}

{% block content %}
<div class="card mb-3 w-75 mx-auto">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img class="img-fluid" src="{{ movie.poster.url }}" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body my-auto">
                <h5 class="card-title pb-4 h1 text-center display-1">{{ movie.name }}</h5>
                <p class="card-text">
                <p class="mb-5 mx-auto h2 text-center">
                    {{ movie.production_year }} |
                    {% for genre in movie.genres %}
                    <span class="badge badge-dark">{{ genre.name }}</span>
                    {% endfor %} | <span>★</span> <span>{{ "%.2f" | format(movie.rating) }}</span>
                </p>
                <section class="about mb-5 h4 mt-5 w-50 mx-auto text-center">
                    <p>Страна производства: {{ movie.country }}</p>
                    <p>Продюсер: {{ movie.producer }}</p>
                    <p>Сценарист: {{ movie.screenwriter }}</p>
                    <p>Актёры: {{ movie.actors }}</p>
                    <p>Продолжительность: {{ movie.duration }} минут</p>
                </section>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <section class="about mb-5">
        <h2 class="mb-3 text-center font-weight-bold">О фильме</h2>
        <p>{{ movie.html | safe }}</p>
    </section>


    <section class="comments mb-5">
        <h2 class="mb-3 text-center font-weight-bold">Рецензии</h2>
        {% for review in (ncur|sort(attribute='created_at', reverse = True))[:5] %}
        <div class="card mt-3">
            <h5 class="card-header">{{ review.user.full_name }}</h5>
            <div class="card-body">
                <p class="card-text">{{ review.html | safe }}</p>
                <h3><span class="badge bg-secondary">★ {{ review.rating }}</span></h3>
                <div class="text-muted mt-2">{{ review.created_at }}</div>
            </div>
        </div>
        {% endfor %}
        {% if current_user.is_authenticated and cur %}
        <div class="card mt-3 text-end">
            <h5 class="card-header">Ваша рецензия</h5>
            <div class="card-body">

                <p class="card-text">{{ cur.html | safe }}</p>
                <h3><span class="badge bg-secondary">★ {{ cur.rating }}</span></h3>
                <div class="text-muted mt-2">{{ cur.created_at }}</div>
            </div>
        </div>
        {% else %}
        {% if ncur or cur %}
        {% else %}
        <p class="text-center">Рецензии отсутствуют</p>
        {% endif %}
        {% if current_user.is_authenticated %}
        <div class="container text-center  my-3 mb-5">
            <a href="{{ url_for('crud.create_review', movie_id=movie.id ) }}" class="btn btn-dark btn-lg">Написать
                рецензию</a>
        </div>
        {% endif %}
        {% endif %}
    </section>
</div>

{% endblock %}